<script setup lang="ts">
import { ref } from "vue";
import { Icon } from "@iconify/vue";
import { Head, Link, router } from "@inertiajs/vue3";

const showingNavigation = ref(false);

const logout = () => {
    router.post(route("logout"));
};
</script>
<template>
    <nav class="py-4 px-10 bg-light sticky bottom-0">
        <ul class="flex justify-between">
            <li class="text-neutral">
                <Link :href="route('dashboard')">
                    <Icon class="h-6 w-6" icon="heroicons:home" />
                </Link>
            </li>
            <li class="text-neutral">
                <Icon class="h-6 w-6" icon="heroicons:user" />
            </li>
            <li class="text-neutral">
                <Icon class="h-6 w-6" icon="heroicons:bookmark" />
            </li>
            <li class="text-neutral">
                <Icon class="h-6 w-6" icon="heroicons:cog-8-tooth" />
            </li>
        </ul>
    </nav>
</template>
<style lang="scss" scoped></style>
