<!----- Nearest activities ----->

<script setup lang="ts">
import Card from "../../Components/Card.vue";
</script>

<template>
    <Head title="Liste des activités" />
    <section>
        <h2 class="text-light text-lg font-bold pl-6">Activités</h2>
        <div class="relative">
            <div
                class="carousel carousel-center grid grid-flow-col gap-2.5 overscroll-x-contain px-6 scroll-snap-x"
            >
                <!----- Activity card ----->
                <Card v-for="card in 5" />
            </div>

            <!----- Next button ----->
            <NextButton />
        </div>
    </section>
</template>
