<script setup lang="ts"></script>
<template>
    <Head title="Détails de l'activité" />
    <div
        class="sm:flex min-h-screen pl-6 py-12 bg-gradient-to-b from-primary to-secondary relative"
    >
        <div></div>
    </div>
    <MenuSticky />
</template>
