<script setup>
import { Head } from "@inertiajs/vue3";
import Welcome from "./Welcome.vue";

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
});
</script>

<template>
    <Head title="Dashboard" />
    <Welcome />
</template>
<style lang="scss" scoped>
body::-webkit-scrollbar {
    display: none;
}
</style>
