<script setup lang="ts">
import AppLayout from "../Layouts/AppLayout.vue";
import CategoriesSlider from "../Components/CategoriesSlider.vue";
import Header from "../Components/Header.vue";
import NearestActivitiesSlider from "../Components/NearestActivitiesSlider.vue";
import FutureActivitiesSlider from "../Components/FutureActivitiesSlider.vue";

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
});
</script>

<template>
    <AppLayout title="Les meilleures activités près de toi">
        <Header />

        <!--Catégories slider-->
        <CategoriesSlider class="ml-[-24px] mr-[-32px]" />

        <!---- Activités à proximité ---->
        <NearestActivitiesSlider class="pt-8" />

        <!---- Prochaines activités ---->
        <FutureActivitiesSlider class="py-8" />
    </AppLayout>
</template>
<style lang="scss" scoped>
body::-webkit-scrollbar {
    display: none;
}
</style>
