<script setup lang="ts">
import { ref, computed, onMounted } from "vue";
import { Icon } from "@iconify/vue";
import InfosButton from "../Components/InfosButton.vue";

const cardBodyRef = ref(null);

onMounted(() => {
    const cardBodyHeight = cardBodyRef.value.clientHeight;
    figureStyle.value = `max-height: calc(100% - ${cardBodyHeight}px)`;
});

const figureStyle = ref("");
</script>
<template>
    <article class="shadow-lg shadow-accent relative rounded-xl">
        <div class="relative overflow-hidden" :style="figureStyle">
            <!-- Card figure -->
            <figure class="h-full">
                <img
                    class="rounded-t-xl w-full max-h-full object-fit"
                    src="./../../../public/storage/assets/images/categories/randonnee.jpg"
                    alt="Randonnée"
                />
            </figure>
            <!-- Figure infos -->
            <div class="absolute w-full h-full top-0 px-3 py-3.5">
                <div class="flex justify-between items-top">
                    <span
                        class="text-accent text-xs font-black bg-light rounded-md h-fit py-0.5 px-2"
                    >
                        Randonnée
                    </span>
                    <div
                        class="flex items-center justify-center bg-light rounded-full p-1.5"
                    >
                        <Icon
                            class="h-4 w-4 text-neutral"
                            icon="heroicons:bookmark"
                        />
                    </div>
                </div>
                <div class="absolute bottom-0 right-0 py-2 px-3">
                    <span class="text-light text-xs font-black">11 mars</span>
                </div>
            </div>
        </div>

        <!-- Card body -->
        <div
            class="min-h-fit bg-accent rounded-b-xl p-3 pt-4"
            ref="cardBodyRef"
        >
            <h4 class="text-light text-sm font-bold pb-0.5">
                Randonnée charmante ...
            </h4>
            <div class="flex items-center justify-start gap-1.5">
                <div>
                    <Icon class="h-4 w-4 text-btn" icon="ep:location-filled" />
                </div>

                <p class="text-btn">
                    <span class="text-xs">Pepinster, </span>
                    <span class="text-xs">10 Km</span>
                </p>
            </div>
            <div class="flex items-center justify-start gap-1.5 pt-0.5">
                <Icon class="h-4 w-4 text-light" icon="heroicons:user-solid" />
                <p class="text-light text-xs">Patrick</p>
                <div class="flex flex-row gap-x-0.5">
                    <Icon
                        class="h-4 w-4 text-rating"
                        icon="heroicons:star-solid"
                    />
                    <Icon
                        class="h-4 w-4 text-rating"
                        icon="heroicons:star-solid"
                    />
                    <Icon
                        class="h-4 w-4 text-rating"
                        icon="heroicons:star-solid"
                    />
                    <Icon
                        class="h-4 w-4 text-rating"
                        icon="heroicons:star-solid"
                    />
                    <Icon
                        class="h-4 w-4 text-light"
                        icon="heroicons:star-solid"
                    />
                </div>
            </div>
            <div class="flex items-center justify-start gap-1.5 pt-1.5">
                <Icon class="h-4 w-4 text-light" icon="heroicons:users-solid" />
                <p class="text-light text-xs">
                    <span>1/</span>
                    <span>5 Participants</span>
                </p>
            </div>
            <InfosButton />
        </div>
    </article>
</template>
