<script setup lang="ts">
import ActivityCard from "../Components/ActivityCard.vue";
</script>
<template>
    <div class="carousel-item snap-start w-48 h-64">
        <ActivityCard />
    </div>
</template>
