<!----- Categories slider ----->

<script setup lang="ts">
import { Icon } from "@iconify/vue";

const categories = [
    {
        name: "Randonnée",
        imageTitle: "randonnee",
    },
    {
        name: "Vélo",
        imageTitle: "velo",
    },
    {
        name: "Moto",
        imageTitle: "moto",
    },
    {
        name: "Pêche",
        imageTitle: "peche",
    },
    {
        name: "Kayak",
        imageTitle: "kayak",
    },
    {
        name: "Accro branche",
        imageTitle: "accro-branche",
    },
    {
        name: "Escape Game",
        imageTitle: "escape-game",
    },
];
</script>
<template>
    <section>
        <div class="relative">
            <ul
                class="carousel carousel-center grid grid-flow-col gap-2.5 overscroll-x-contain pl-6 pr-8 scroll-snap-x"
            >
                <li
                    class="carousel-item relative w-14 snap-start"
                    v-for="category in categories"
                >
                    <a
                        ><img
                            :src="`/storage/assets/images/categories/${category.imageTitle}.jpg`"
                            alt=""
                            class="object-cover block w-14 h-14 rounded-full shadow-lg shadow-accent"
                        />
                        <h3 class="text-xs text-light text-center pt-1">
                            {{ category.name }}
                        </h3>
                    </a>
                </li>

                <!----- Next button ----->
                <div
                    class="carousel-item see-more absolute top-2.5 -right-0.5 flex align-top w-10 h-10 bg-light bg-opacity-50 rounded-full"
                >
                    <button class="p-2">
                        <Icon
                            class="text-neutral w-full h-full"
                            icon="system-uicons:chevron-right-double"
                        />
                    </button>
                </div>
            </ul>
        </div>
    </section>
</template>
<style lang="scss" scoped></style>
