<script setup lang="ts"></script>
<template>
    <div class="flex justify-center items-center pt-2">
        <button class="bg-btn text-light text-xs px-8 py-1 rounded-full">
            Infos
        </button>
    </div>
</template>
