<script setup lang="ts">
import { router } from "@inertiajs/vue3";
import { Icon } from "@iconify/vue";
import NavLink from "../Components/NavLink.vue";

const logout = () => {
    router.post(route("logout"));
};
</script>
<template>
    <div class="fixed inset-x-0 bottom-0">
        <nav class="py-2.5 px-10 bg-light">
            <ul class="flex justify-between items-center align-center">
                <li>
                    <NavLink :href="route('dashboard')">
                        <Icon class="h-6 w-6" icon="heroicons:home" />
                    </NavLink>
                </li>
                <li>
                    <NavLink :href="route('profile.show')">
                        <Icon class="h-6 w-6" icon="heroicons:user" />
                    </NavLink>
                </li>
                <li><Icon class="h-6 w-6" icon="heroicons:bookmark" /></li>
                <li>
                    <Icon class="h-6 w-6" icon="heroicons:cog-8-tooth" />
                </li>
            </ul>
        </nav>
    </div>
</template>
<style lang="scss" scoped></style>
