<!----- Nearest activities ----->

<script setup lang="ts">
import ActivitySlide from "./ActivitySlide.vue";
import NextButton from "./NextButton.vue";
</script>

<template>
    <section class="overflow-x-visible ml-[-24px] mr-[-32px]">
        <h2 class="text-light text-lg font-bold pl-6">Activités à proximité</h2>
        <div class="relative">
            <div
                class="carousel carousel-center grid grid-flow-col gap-2.5 overscroll-x-contain pl-6 pr-8 py-4 scroll-snap-x"
            >
                <!----- Activity slide ----->
                <ActivitySlide v-for="activityslide in 5" />
            </div>

            <!----- Next button ----->
            <NextButton />
        </div>
    </section>
</template>
