<!----- Next button ----->

<script setup lang="ts">
import { Icon } from "@iconify/vue";
</script>
<template>
    <div
        class="carousel-item see-more absolute top-1/2 -translate-y-1/2 -right-0.5 flex align-top w-[4.5rem] h-[4.5rem] bg-light bg-opacity-50 rounded-full"
    >
        <button class="p-2">
            <Icon
                class="text-neutral w-full h-full"
                icon="system-uicons:chevron-right-double"
            />
        </button>
    </div>
</template>
