<script setup>
defineProps({
    type: {
        type: String,
        default: "submit",
    },
});
</script>

<template>
    <button
        :type="type"
        class="block items-center w-full py-2 bg-btn border border-transparent rounded-md font-semibold text-sm text-white tracking-widest"
    >
        <slot />
    </button>
</template>
