<!----- Search/filter bar ----->

<script setup lang="ts">
import { Icon } from "@iconify/vue";
</script>
<template>
    <div class="flex items-center justify-between py-8">
        <div
            class="flex items-end pt-1.5 pb-1 min-w-[75%] bg-accent rounded-xl"
        >
            <Icon
                icon="basil:search-solid"
                color="#f8fafc"
                class="ml-2 text-xl"
            />
            <input
                type="text"
                name=""
                id=""
                placeholder="Chercher des activités"
                class="border-none bg-transparent h-5 align-text-bottom py-0 pl-1.5 placeholder-light placeholder-opacity-50 text-sm"
            />
        </div>

        <Icon
            icon="mingcute:filter-fill"
            color="#f8fafc"
            :horizontalFlip="true"
            class="text-2xl"
        />
        <Icon
            icon="material-symbols:map-rounded"
            color="#f8fafc"
            :horizontalFlip="true"
            class="text-2xl"
        />
    </div>
</template>
