<script setup>
import { Head, Link } from "@inertiajs/vue3";
import ApplicationLogo from "@/Components/ApplicationLogo.vue";

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
});
</script>

<template>
    <Head title="Together" />

    <div
        class="relative sm:flex min-h-screen pl-6 bg-gradient-to-b from-bg-primary to-bg-secondary"
    >
        <!--Header content-->
        <h1 class="py-9 text-font-light text-4xl font-bold">Together</h1>

        <div v-if="canLogin" class="sm:fixed sm:top-0 sm:right-0 text-right">
            <Link
                v-if="$page.props.auth.user"
                :href="route('dashboard')"
                class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
            >
                Dashboard
            </Link>

            <template v-else>
                <Link
                    :href="route('login')"
                    class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                    >Log in</Link
                >

                <Link
                    v-if="canRegister"
                    :href="route('register')"
                    class="ml-4 font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                    >Register</Link
                >
            </template>
        </div>
        <div>
            <input
                type="text"
                name=""
                id=""
                placeholder="Chercher des activités"
                class="pr-20 rounded-2xl border-none bg-cardsColor placeholder-fontColorLight"
            />
        </div>
        <span class="iconify" data-icon="map"></span>
    </div>
</template>
