<script setup lang="ts">
import AppLayout from "../../Layouts/AppLayout.vue";
import ActivityCard from "../../Components/ActivityCard.vue";
import Header from "../../Components/Header.vue";

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
});
</script>

<template>
    <AppLayout title="Les meilleures activités en plein air près de toi">
        <!-- Header -->
        <Header />

        <!-- Main content -->
        <h2 class="text-light text-lg font-bold">Activités</h2>
        <div class="py-4">
            <ActivityCard class="w-64 h-72 mb-6" v-for="ActivityCard in 10" />
        </div>
    </AppLayout>
</template>

<style lang="scss" scoped>
body::-webkit-scrollbar {
    display: none;
}
</style>
