<script setup lang="ts">
import { Head, router } from "@inertiajs/vue3";
import { computed, ref, watchEffect } from "vue";
import MobileNav from "../Components/MobileNav.vue";
import Dropdown from "@/Components/Dropdown.vue";
import DropdownLink from "@/Components/DropdownLink.vue";
import NavLink from "@/Components/NavLink.vue";
import ResponsiveNavLink from "@/Components/ResponsiveNavLink.vue";

defineProps({
    title: String,
});

const showingNavigationDropdown = ref(false);

const currentRoute = ref("");

watchEffect(() => {
    currentRoute.value = window.location.pathname;
});

const pageBackgroundClass = computed(() => {
    const hasCreateOrEdit =
        currentRoute.value.includes("create") ||
        currentRoute.value.includes("edit");
    return {
        "bg-light": hasCreateOrEdit,
        "bg-gradient-to-b from-primary to-secondary": !hasCreateOrEdit,
    };
});

const logout = () => {
    router.post(route("logout"));
};
</script>

<template>
    <div>
        <Head :title="title" />

        <!-- Page Background -->
        <div :class="pageBackgroundClass">
            <div class="sm:flex py-12 pl-6 pr-8 relative overflow-hidden">
                <!-- Page Content -->
                <main>
                    <slot />
                </main>
                <MobileNav />
            </div>
        </div>
    </div>
</template>
<style lang="scss" scoped>
body::-webkit-scrollbar {
    display: none;
}
</style>
