<script setup>
import { Head, Link, useForm } from "@inertiajs/vue3";
import AuthenticationCard from "@/Components/AuthenticationCard.vue";
import Checkbox from "@/Components/Checkbox.vue";
import { Icon } from "@iconify/vue";
import InputError from "@/Components/InputError.vue";
import InputLabel from "@/Components/InputLabel.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TextInput from "@/Components/TextInput.vue";

defineProps({
    canResetPassword: Boolean,
    status: String,
});

const form = useForm({
    email: "",
    password: "",
    remember: false,
});

const submit = () => {
    form.transform((data) => ({
        ...data,
        remember: form.remember ? "on" : "",
    })).post(route("login"), {
        onFinish: () => form.reset("password"),
    });
};
</script>

<template>
    <Head title="Log in" />
    <div
        class="sm:flex min-h-screen py-12 bg-gradient-to-b from-primary to-secondary px-2"
    >
        <AuthenticationCard>
            <template #logo>
                <h1 class="pt-16 pb-8 text-5xl font-medium text-light">
                    Together
                </h1>
            </template>

            <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
                {{ status }}
            </div>

            <form @submit.prevent="submit">
                <div class>
                    <InputLabel for="email" value="Email" class="text-light" />
                    <div class="flex items-center bg-input rounded-md mt-1">
                        <TextInput
                            id="email"
                            v-model="form.email"
                            type="email"
                            class="block w-full text-accent"
                            required
                            autofocus
                            autocomplete="username"
                            placeholder="example@gmail.com"
                        />
                    </div>

                    <InputError class="mt-2" :message="form.errors.email" />
                </div>

                <div class="mt-4">
                    <InputLabel
                        for="password"
                        value="Mot de passe"
                        class="text-light"
                    />
                    <TextInput
                        id="password"
                        v-model="form.password"
                        type="password"
                        class="mt-1 block w-full text-accent"
                        required
                        autocomplete="current-password"
                        placeholder="Mot de passe"
                    />
                    <InputError class="mt-2" :message="form.errors.password" />
                </div>

                <div class="block mt-2">
                    <label class="flex items-center">
                        <Checkbox
                            v-model:checked="form.remember"
                            name="remember"
                        />
                        <span class="ml-2 text-sm text-light"
                            >Se souvenir de moi</span
                        >
                    </label>
                </div>

                <div class="flex justify-center mt-8">
                    <PrimaryButton
                        :class="{ 'opacity-25': form.processing }"
                        :disabled="form.processing"
                    >
                        Me connecter
                    </PrimaryButton>
                </div>
                <div class="flex justify-center">
                    <Link
                        :href="route('password.request')"
                        class="mt-8 underline text-sm text-light rounded-md focus:outline-none"
                    >
                        Mot de passe oublié?
                    </Link>
                </div>
            </form>
        </AuthenticationCard>
    </div>
</template>
